@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin make-circle {
  border-radius: 150px;
}

main {
  @include center-content;
  height: 300px;
  width: 300px;
}

.outer-ring {
  @include center-content;
  @include make-circle;
  height: 250px;
  width: 250px;
}

.inner-ring {
  @include center-content;
  @include make-circle;
  height: 150px;
  width: 150px;
}

span {
  position: inline-block;
  font-size: 32px;
  font-family: sans-serif;
  font-weight: bold;
}
